.video-container{
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 80vh; /* Keep it 80vh or adjust accordingly */
    overflow: hidden; /* Prevent overflow */
}   
video {
    width: 100%;    /* Ensure it takes up full width but not more */
    height: auto;   /* Keep the aspect ratio */
  }

  @media only screen and (max-width: 768px) {
    .video-container {
      height: 50vh; /* Or adjust height as needed */
    }
  
    video {
      object-fit: contain; /* Ensure the video remains contained */
    }
  }
  